# sets
sets are unique data structures with interesting properties.
Imagine that you have some data in a list that contains a lot of duplicates that you want to remove. However, you think writing a for loop and building a new list without duplicates is too much overkill. Can you find a more efficient way to remove the duplicated values from the list?

In [2]:
a = set([1,2,3])
a

{1, 2, 3}

In [3]:
b = set([1,2,3,3,1,2])
b

{1, 2, 3}

Another way is to use the curly bracket notation. Create a set directly, by using the curly bracket notation

In [4]:
a = {1,2,3}
a

{1, 2, 3}

In [5]:
b = {1,1,2,2,3,3}
b

{1, 2, 3}

Pass a sequence to the set() method, like this. As you can see, this builds a set of the sequence's constituent elements:

In [8]:
a = set('a randon string')
a

{' ', 'a', 'd', 'g', 'i', 'n', 'o', 'r', 's', 't'}

In [9]:
b = {'a random string'}
b

{'a random string'}

In [10]:
b = {'a random string','a random string'}
b

{'a random string'}

# Reading Data from a Set
Set objects do not support indexes, so you cannot access values from them using indexes, like you can in a list or a tuple.

In [18]:
a = {1,2,3,3}
for num in a:
    print(num)

1
2
3

In [19]:
#One can use pop()
#Items are removed from the beginning of the set

a = {1,2,3,4}
b = a.pop()
print(a)
print(b)

{2, 3, 4}
1

In [13]:
#Adding Data into set

a = {1,2,3,3}
a.add(4)
a

{1, 2, 3, 4}

In [17]:
#Update for multiple values
a = {1,2,3,3}
a.update([4,5,6])
a

{1, 2, 3, 4, 5, 6}

In [48]:
a = {1,2,3,3,"a"}
a

{1, 2, 3, 'a'}

In [20]:
a = {1,2,3,4}
a.remove(2)
a

{1, 3, 4}

In [21]:
# If you try to remove a non-existing item, a KeyError will be raised.

a.remove(2)

KeyError: 2

In [22]:
a

{1, 3, 4}

You can also use the discard() method. For comparison, discard() does not raise a KeyError if the item to be discarded does not exist.

In [23]:
a.discard(2)
a

{1, 3, 4}

In [25]:
#use the clear() method to remove all of the data from the set object
a.clear()
a

set()

# Set Operations

Union : a union between sets is the set of all items/elements in both sets.

For example, if set A = {1,2,3,4,5,6} and set B = {1,2,3,7,8,9,10}, then A u B will be {1,2,3,4,5,6,7,8,9,10}.

In [26]:
a = {1,2,3,4,5,6}
b = {1,2,3,7,8,9,10}
print(a.union(b))
print(b.union(a))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Another way to achieve union between sets in Python is to use the | operator

In [27]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Intersection : An intersection of sets is the set of all items that appear in all of the sets, that is, what they have in common

In [28]:
a = {1,2,3,4,5,6}
b = {1,2,3,7,8,9,10}
a.intersection(b)

{1, 2, 3}

To find the intersection between sets, you can also use the & operator:

In [29]:
a & b

{1, 2, 3}

Difference: The difference between two sets is basically what is in one set and not in the other

In [31]:
a = {1,2,3,4,5,6}
b = {1,2,3,7,8,9,10}
print(a - b)
print(b - a)
print(a.difference(b))
print(b.difference(a))

{4, 5, 6}
{8, 9, 10, 7}
{4, 5, 6}
{8, 9, 10, 7}

You can also get the symmetric difference between sets, which is the set of everything that is not in the intersection of the sets:

In [32]:
a = {1,2,3,4,5,6}
b = {1,2,3,7,8,9,10}
a.symmetric_difference(b)

{4, 5, 6, 7, 8, 9, 10}

The issubset() method can be used to check whether all of one set's elements exist in another set (that is, whether the set is a subset of another):

In [33]:
a = {1,2,3,4,5,6,7,8,9,10}
b = {5,2,10}
print(a.issubset(b))
print(b.issubset(a))

False
True

In [34]:
a.issuperset(b)

True

You can check whether the two sets are equivalent by using the == operator, and whether they are not equivalent by using the != operator.

In [37]:
a = {1,2,3}
b = a.copy()
c = {"money", "fame"}
print(a == b)
print(a == c)
print(a != c)

True
False
True

You can update a set with values from the results of set operations by using the special update operations defined on the set.

difference_update(): This method removes all of the values of the other set from the set it is called on:

In [41]:
a = {1,2,3}
b = {3,4,5}
a - b
a.difference_update(b)
a

{1, 2}

intersection_update(): This method updates the set it is called on with the intersection of itself and another set that is passed as an argument:

In [43]:
a = {1,2,3}
b = {3,4,5}
a.intersection_update(b)
a

{3}

symmetric_difference_update(): This method updates a set that it is called on with the symmetric difference between it and the set passed as an argument:

In [44]:
a = {1,2,3}
b = {3,4,5}
a.symmetric_difference(b)
a.symmetric_difference_update(b)
a

{1, 2, 4, 5}

# Frozen sets
Frozen sets are just like sets, and they support all other set operations. However, they are immutable, and they do not support adding or removing items. Frozen sets are useful for holding items that do not need to change; for example, a set containing the names of states in the United States.

In [45]:
a = frozenset([1,2,3])
a

frozenset({1, 2, 3})

In [46]:
a.add(1)

AttributeError: 'frozenset' object has no attribute 'add'